/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
.h1 {
  margin: 0;
}
.masthead h2,
.sub-heading {
  text-align: center;
  font-family: "Title";
  color: white;
  font-size: 2rem;
}

.masthead h1,
.title-text {
  font-family: "Title";
  text-align: center;
  opacity: 1;
  background: url("./title-scrolling.png");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 150s linear infinite;
}
@media (min-width: 992px) {
  .masthead h2 {
    max-width: 40rem;
    font-size: 2rem;
  }
}
.masthead {
  z-index: 3;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding-top: 10rem;
  background: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

button {
  width: 22rem;
  height: 6rem;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  color: black;
  background-color: white;
  font-weight: 900;
  position: relative;
}

.join_disco {
  height: 50px;
  width: auto;
  background: hwb(0 100% 0%);
}

.join_disco i {
  margin-right: 10px;
}

.join_dis {
  margin-bottom: 1px;
  margin-top: 19px;
  
}

.buttom-group{
  width: 100%;
  overflow: auto;
}

.register {
  margin-left: 1rem;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
}

.AboutMe h2 {
  font-size: 8rem;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 300;
}

.Myinfo {
  text-align: left;
  margin-left: 10vh;
}

.Myinfo p {
  width: 70%;
}

/* Over lay effect */

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
 
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .3s ease;
  border-radius: 12px;
}

.overlay-text {
  font-weight: 300;
  color: #2C4677;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

button:hover .overlay {
  width: 100%;
  left: 0;
}

@media (max-width: 1200px) {
  .AboutMe h2 {
    /* font-size: 6rem; */
  }
}

/* main targer */

@media (max-width: 570px) {
  .Myinfo p {
    width: 100%;
  }
  .AboutMe h2 {
    font-size: 4rem;
  }
  .register {
    margin-left: 0;
    margin-top: 3vh;
  }
  .Myinfo {
    text-align: center;
    margin-left: 0;
  }
  .Myinfo p {
    font-size: 1.9rem;
  }
  .AboutMe {
    text-align: center;
  }
}

@media (max-width: 330px) {
  .register {
    margin-left: 0;
    margin-top: 3vh;
  }
  .AboutMe h1 {
    font-size: 2.2em;
  }
  .Myinfo p {
    font-size: 1.6rem;
  }
}